@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

html, body {
    height: 100%;
    box-sizing: border-box;
}

/* Video Background */

header {
    height: 90%;
    background-color: white;
}

/*video needs to be the size of parent div height, set position absolute to stetch to parent's div
overflow hides video over-flowing outside current size of hero_area. */
.hero_area{
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    overflow: hidden;
}


.hero_area video {
    position: absolute;
    width: 100%;
    height: auto;
    overflow: hidden;
}

::-webkit-media-controls {
  display:none !important;
}

body {
  font: 100% Roboto, sans-serif;
  padding: 50px;
  margin: 0;
}

/* Menu Button */

nav {
  width: 300px;
  background: white;
  color: rgba(0, 0, 0, 0.87);
  -webkit-clip-path: circle(24px at 30px 24px);
  clip-path: circle(24px at 32px 24px);
  -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
}

nav:hover {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -webkit-clip-path: circle(390px at 225px 24px);
  clip-path: circle(390px at 150px 24px);
}

nav > a {
  display: block;
  line-height: 50px;
  padding: 0 20px;
  color: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav > a:hover { background: #ffe082; }

nav > a:active { background: #ffca28; }

.navicon {
  padding: 23px 20px;
  cursor: pointer;
  -webkit-transform-origin: 32px 24px;
  -ms-transform-origin: 32px 24px;
  transform-origin: 32px 24px;
}

.navicon div {
  position: relative;
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
}

.navicon div:before,
.navicon div:after {
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
  position: absolute;
}

.navicon div:before { top: -7px; }

.navicon div:after { top: 7px; }

.blur:after { opacity: .85; }

.btn {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);

  z-index: 1000;
}


/* Ghost Button */

*::before,
*::after {
  box-sizing: border-box;
}

.ghost {
  position: relative;
  top: 20%;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  text-align: center;
}

.blur:after {
  opacity: .85;
}

.btn {
  position: relative;
  display: inline-block;
  border: 6px solid #ed7669;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  z-index: 99;
}

.btn.active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.btn:focus, .btn:hover {
  border: 12px solid #E4F1FE;
}

.btn,
.btn > span {
  cursor: pointer;
}

.btn > span {
  min-width: 426px;
}

.btn-inr {
  display: inline-block;
  color: white;
  font-weight: 100;
  font-size: 2em;
  line-height: 1;
  text-transform: uppercase;
  background: #ed7669;
  padding: 1em 2em;
  margin: 6px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.btn-inr:focus, .btn-inr:hover {
  background: #e74c3c;
  padding: 1em 2em;
  margin: 0;
}

.txt-a {
  display: inline;
}

.txt-b {
  display: none;
}

.special {
  font-size: 25px;
  color: #ECECEC;
  border-bottom: 2px solid #ECECEC;
  padding-bottom: 12px;
  line-height: 3;
}

.login {
  font-size: 25px;
  color: #ECECEC;
  padding-bottom: 20px;
  line-height: 2;
}

.btn:focus .btn-inr,
.btn:hover .btn-inr {
  background: #EC644B;
  padding: 1em 2em;
  margin: 0;
}

.btn:focus .txt-a,
.btn:hover .txt-a {
  display: none;
}

.btn:focus .txt-b,
.btn:hover .txt-b {
  display: inline;
}

/* Uber Button*/

.uber_button {
    background-image: url('../img/UBER_API_Badges_2x_64px.png');
    background-size: cover;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

/* Social Media Buttons*/

.socialbtns a, .socialbtns a:hover {
  text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
  margin: 0;
  padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
  width: 40px;
  height: 28px;
  color: #000;
  background-color: #FFF;
  border: 1px solid #000;
  padding-top: 12px;
  border-radius: 22px;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  -o-border-radius: 22px;
}

.socialbtns .fa:hover {
  color: #FFF;
  background-color: #000;
  border: 1px solid #000;
}
