<!DOCTYPE html>
<meta charset= "UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
  <head>
    <title>Destination ?</title>
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <script src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
  </head>
  
  <body>
    <header id="container">

        <!-- video background -->
        <div class="hero_area">
            <video preload ='true' autoplay ='autoplay' loop='loop' volumne='0' poster='' controls muted>
                <!--  <source src="../static/video/sf.mp4" type="video/mp4"> -->
                <source src="http://a0.muscache.com/airbnb/static" type="video/webm">
            </video>
        </div>
        
        <!-- menu button -->
        <nav>
            <div class="navicon">
                <div></div>
            </div>
            <a class="menu">ABOUT</a>
            <a class="menu">CONTACT</a>
        </nav>
        
        <!-- ghost button, hidden login -->
        <div class="ghost">
          <div id="btn" class="btn" data-js="btn">
            <span class="btn-inr">
              <span class="txt-a">Somewhere. Some place. Sometime.</span>
              <span class="txt-b">
                <span class='special'>Find Your Destination Unknown</span><br>
                <span class='login'> Login with Uber </span><br>
                <button id='login' class="uber_button"></button>
              </span>
            </span>
          </div>
        </div>
    </header>

    <footer>
      <div align="center" class="socialbtns">
        <ul>
          <li><a href="https://twitter.com/Neon_Badger" class="fa fa-lg fa-twitter" target="_blank"></a></li>
          <li><a href="https://github.com/neonbadger" class="fa fa-lg fa-github" target="_blank"></a></li>
          <li><a href="https://www.linkedin.com/in/shijiefeng" class="fa fa-lg fa-linkedin" target="_blank"></a></li>
        </ul>
      </div>
    </footer>
    
    <script>

      // ghost button animation
      function toggleButton(el) {
        var body = document.body;
        
        var element = document.querySelector(el);
        
        element.addEventListener('mouseenter', function(e) {
          e.target.classList.add('active');
          body.classList.add('blur');
        }, false);
        
        element.addEventListener('mouseleave', function(e) {
          e.target.classList.remove('active');
          body.classList.remove('blur');
        }, false);
      };

      toggleButton('[data-js="btn"]');
      
      // Uber login button
      $(".uber_button").click(function() {
            location.href = "/authenticate";
      });

      </script>

  </body>
</html>
