<html>
    <head>
        <meta charset="utf-8">
        <title>Destination Unknown</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script type="text/javascript" src="/static/js/uber_login.js"></script>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">Destination Unknown</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="inner cover">
            <h1 class="cover-heading">Sweep Away to Surprise Staycations with Uber Ride</h1>
            <p class="lead">Life is more fun!</p>
          <div class="col-xs-4 col-xs-offset-4">
              <p class="lead">
                <button id="user-login" type="button" class="btn btn-default btn-block"> Login with Uber</button>
              </p>
          </div>

        </div>
      </div>

    </div>

  </div>

   </body>
</html>