<!DOCTYPE html>
<meta charset= "UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
  <head>
    <title>Destination ? Stats</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/d3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
  </head>

  <body>
    <h1>View Your Stats</h1>

    <!-- Sticker -->
    <div class="container wrapper">
      <div id="Awesome" class="anim750">
        <div class="reveal circle_wrapper">
          <div class="circle">My Inside Out</div>
        </div>
                  
        <div class="sticky anim750">
          <div class="front circle_wrapper anim750">
            <div class="circle anim750"></div>
          </div>
        </div>
        
        <h4>Show me</h4></br>
                  
        <div class="sticky anim750">
          <div class="back circle_wrapper anim750">
            <div class="circle anim750"></div>
          </div>
        </div>                 
    </div>

    <!-- Stats Board -->
    <div class="wrapper">
        <div class="counter col_third">
          <i class="fa fa-smile-o fa-2x"></i>
          <h2 class="timer count-title" id="count-number" data-to="{{curious_stat}}" data-speed="1500"></h2>
           <p class="count-text ">Times x Curious</p>
        </div>

        <div class="counter col_third">
          <i class="fa fa-rocket fa-2x"></i>
          <h2 class="timer count-title" id="count-number" data-to="{{bold_stat}}" data-speed="1500"></h2>
          <p class="count-text ">Times x Bold</p>
        </div>

        <div class="counter col_third end">
          <i class="fa fa-taxi fa-2x"></i>
          <h2 class="timer count-title" id="count-number" data-to="{{uber_miles}}" data-speed="1500"></h2>
          <p class="count-text ">Miles x Uber Awesome</p>
        </div>
    </div>
      
    <!-- D3 charts -->
    <div class="wrapper">
      <div class="col-xs-12 col-md-12 counter">
        <p class="question">Which celebrities are you made of?</p>
        <div class="donut-chart"></div>
      </div>
      
      <div class="col-xs-12 col-md-12 counter">
        <p class="question">What does your mood say about your event preference?</a></p>
        <div class="chord-chart"></div>
      </div>
    </div>

    </div>

    <script type="text/javascript">

      // jQuery Countup Flipping Animation
      (function ($) {
        $.fn.countTo = function (options) {
          options = options || {};
          
          return $(this).each(function () {
            // set options for current element
            var settings = $.extend({}, $.fn.countTo.defaults, {
              from:            $(this).data('from'),
              to:              $(this).data('to'),
              speed:           $(this).data('speed'),
              refreshInterval: $(this).data('refresh-interval'),
              decimals:        $(this).data('decimals')
            }, options);
            
            // how many times to update the value, and how much to increment the value on each update
            var loops = Math.ceil(settings.speed / settings.refreshInterval),
              increment = (settings.to - settings.from) / loops;
            
            // references & variables that will change with each update
            var self = this,
              $self = $(this),
              loopCount = 0,
              value = settings.from,
              data = $self.data('countTo') || {};
            
            $self.data('countTo', data);
            
            // if an existing interval can be found, clear it first
            if (data.interval) {
              clearInterval(data.interval);
            }
            data.interval = setInterval(updateTimer, settings.refreshInterval);
            
            // initialize the element with the starting value
            render(value);
            
            function updateTimer() {
              value += increment;
              loopCount++;
              
              render(value);
              
              if (typeof(settings.onUpdate) == 'function') {
                settings.onUpdate.call(self, value);
              }
              
              if (loopCount >= loops) {
                // remove the interval
                $self.removeData('countTo');
                clearInterval(data.interval);
                value = settings.to;
                
                if (typeof(settings.onComplete) == 'function') {
                  settings.onComplete.call(self, value);
                }
              }
            }
            
            function render(value) {
              var formattedValue = settings.formatter.call(self, value, settings);
              $self.html(formattedValue);
            }
          });
        };
        
        $.fn.countTo.defaults = {
          from: 0,
          to: 0,
          speed: 1000,
          refreshInterval: 100,
          decimals: 0,
          formatter: formatter,
          onUpdate: null,
          onComplete: null
        };
        
        function formatter(value, settings) {
          return value.toFixed(settings.decimals);
        }
      }($));

      $(function ($) {
        $('#count-number').data('countToOptions', {
        formatter: function (value, options) {
          return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
        }
        });
        
        // start all the timers
        $('.timer').each(count);  
        
        function count(options) {
        var $this = $(this);
        options = $.extend({}, options || {}, $this.data('countToOptions') || {});
        $this.countTo(options);
        }
      });

      // Donut Chart
      var dataset = [
        { label: 'Daenerys', count: 55, enabled: true },
        { label: 'Ziggy', count: 35, enabled: true }, 
        { label: 'Sally R.', count: 23, enabled: true },
        { label: 'Buzz A.', count: 8, enabled: true },
        { label: 'Serena W.', count: 19, enabled: true },
        { label: 'Roger F.', count: 4, enabled: true },
        { label: 'T-Swift', count: 50, enabled: true }, 
        { label: 'Kimye', count: 45, enabled: true },
      ];

      var svgWidth  = 400,
          svgHeight = 400,
          radius = Math.min(svgWidth, svgHeight) / 2,
          donutWidth = 75;

      var color = d3.scale.category10();    

      var svg = d3.select('.donut-chart')
                  .append('svg')
                    .attr('width', svgWidth)
                    .attr('height', svgHeight)
                  .append('g')
                    .attr("class", "container")
                    .attr('transform', 'translate(' + (svgWidth / 2) +  ',' + (svgHeight / 2) + ')'); 

      // Radius
      var arc = d3.svg.arc()
                      .innerRadius(radius - donutWidth)  // Make PIE chart a Donut
                      .outerRadius(radius);

      // Angles
      var pie = d3.layout.pie()
                  .value(function(d) {
                    return d.count;
                  })
                  .sort(null);

      // Tooltip
      var tooltip = d3.select('.donut-chart')            
                      .append('div')
                        .attr('class', 'tooltip');


      tooltip.append('div')
        .attr('class', 'label');

      tooltip.append('div')
        .attr('class', 'count');

      tooltip.append('div')
        .attr('class', 'percent');

      // Pie chart          
      var path = svg.selectAll('path')
                    .data(pie(dataset))
                    .enter()
                    .append('path')
                    .attr('d', arc)
                    .attr('fill', function(d, i) { 
                      return color(d.data.label);
                    })
                    .each(function(d) { this._current = d; });


      path.on('mouseover', function(d) {
        
        var total = d3.sum(dataset.map(function(d) {
          return (d.enabled) ? d.count : 0;
        }));

        var percent = Math.round(1000 * d.data.count / total) / 10;

        tooltip.select('.label').html(d.data.label);

        tooltip.select('.count').html(d.data.count); 

        tooltip.select('.percent').html(percent + '%'); 

        tooltip.style('display', 'block');
      });

      path.on('mouseout', function() {
            tooltip.style('display', 'none');
      });  

      // Legend
      var legendRectSize = 18,
          legendSpacing  = 4;              

      var legend = svg.selectAll('.legend')
                      .data(color.domain())
                      .enter()
                      .append('g')
                        .attr('class', 'legend')
                        .attr('transform', function(d, i) {

                          var height = legendRectSize + legendSpacing,
                              offset = height * color.domain().length / 2,
                              horz   = -2 * legendRectSize,
                              vert   = i * height - offset;
                          return 'translate(' + horz + ',' + vert + ')';
                        });

      // Legend Content
      legend.append('rect')
              .attr('width', legendRectSize)
              .attr('height', legendRectSize)
              .style('fill', color)
              .style('stroke', color)
              .on('click', function(label) {
                var rect = d3.select(this);
                var enabled = true;
                var totalEnabled = d3.sum(dataset.map(function(d) {
                  return (d.enabled) ? 1 : 0;
                }));
                
                if (rect.attr('class') === 'disabled') {
                  rect.attr('class', '');
                } else {
                  if (totalEnabled < 2) return;
                  rect.attr('class', 'disabled');
                  enabled = false;
                }

                pie.value(function(d) {
                  if (d.label === label) d.enabled = enabled;
                  return (d.enabled) ? d.count : 0;
                });

                path = path.data(pie(dataset));

                path.transition()
                  .duration(750)
                  .attrTween('d', function(d) {
                    var interpolate = d3.interpolate(this._current, d);
                    this._current = interpolate(0);
                    return function(t) {
                      return arc(interpolate(t));
                    };
                  });

              });

      legend.append('text')
              .attr('x', legendRectSize + legendSpacing)
              .attr('y', legendRectSize - legendSpacing)
              .text(function(d) { return d; });  



      // Chord Chart
          var margin  = {top: 50, right: 10, bottom: 10, left: 50},
          width       = 960 - margin.left - margin.right,
          height      = 600 - margin.top  - margin.bottom,
          innerRadius = Math.min(width, height) * .35,
          outerRadius = innerRadius * 1.1;

      var svg = d3.select(".chord-chart").append("svg")
          .attr("width",  width  + margin.left + margin.right)
          .attr("height", height + margin.top  + margin.bottom)
          .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
          .append("g")
          .attr("class", "chordgraph")
          .attr("transform", "translate(" + width/2 + "," + height/2 + ")");

      d3.csv("static/event.csv", function(d){
          var firstColumn = "first_column";

          //store coloumn names
          var fc = d.map(function(d){ return d[firstColumn]; }),
              fo = fc.slice(0),
              maxtrix_size = (Object.keys(d[0]).length - 1) + fc.length,
              matrix  = [];

          //Create an empty square matrix of zero placeholders, the size of the ata
          for(var i=0; i < maxtrix_size; i++){
              matrix.push(new Array(maxtrix_size+1).join('0').split('').map(parseFloat));
          }

          //go through the data and convert all to numbers except "first_column"
          for(var i=0; i < d.length; i++){

              var j = d.length;//counter

              for(var prop in d[i]){
                  if(prop != firstColumn){
                      fc.push(prop);
                      matrix[i][j] = +d[i][prop];
                      matrix[j][i] = +d[i][prop];
                      j++;
                  }
              }
          }

          var chord = d3.layout.chord()
              .padding(.1)
              .sortSubgroups(d3.descending)
              .matrix(matrix);

          var chordgroups = chord.groups()
              .map(function(d){ d.angle = (d.startAngle + d.endAngle)/2; return d; });

          var arc = d3.svg.arc()
              .innerRadius(innerRadius)
              .outerRadius(outerRadius);

          var fill = d3.scale.category20();

          svg.selectAll("path")
              .data(chord.groups)
              .enter()
              .append("path")
              .style("fill", function(d, i){ return (d.index+1) > fo.length ? fill(d.index): "#ccc";})
              .style("stroke", function(d, i) { return "#000"; })
              .style("cursor", "pointer")
              .attr("d", arc)
              .on("mouseover", function(d, i){
                  chords.classed("fade", function(d){
                      return d.source.index != i && d.target.index != i;
                    })
              });


          var chords = svg.append("g")
              .attr("class", "chord")
              .selectAll("path")
              .data(chord.chords)
              .enter()
              .append("path")
              //set the starting node. Change index from zero here.
              .classed("fade", function(d,i){return d.source.index == 0 ? false : true;})
              .attr("d", d3.svg.chord().radius(innerRadius))
              .style("fill", function(d) { return fill(d.source.subindex); })
              .style("stroke", function(d){ return "#000";});

          svg.selectAll(".text")
              .data(chordgroups)
              .enter()
              .append("text")
              .attr("class", "text")
              .attr("text-anchor", function(d) { return d.angle > Math.PI ? "end" : null; })
              .attr("transform", function(d){

                  //rotate each label around the circle           
                  return "rotate(" + (d.angle * 180 / Math.PI - 90) + ")" + 
                         "translate(" + (outerRadius + 10) + ")" +
                         (d.angle > Math.PI ? "rotate(180)" : "");

              })
              .text(function(d,i){
                  //set the text content
                  return fc[i];
              })
              .style({
                  "font-family":"sans-serif",
                  "font-size"  :"12px"
              })
          });

    </script>
  </body>
</html>